<%= form_with(model: review, url: product_reviews_path(@product), data: {
  target: "#reviews",
  element: "[id^=review]",
  insert: "after",
}) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="text-5xl font-bold">What's your rating?</h2>
  <div class="h-8"></div>

  <h3 class="text-xl">Rating</h3>
  <div class="h-4"></div>
  <div class="flex">
    <% 5.times do |i| %>
      <div class="star review-rating box-content pr-1 cursor-pointer" data-value="<%= i + 1 %>"></div>
    <% end %>
  </div>
  <%= form.hidden_field :rating %>
  <div class="h-8"></div>


  <h3 class="text-xl">Review</h3>
  <div class="h-4"></div>
  <div class="field">
    <%= form.text_field :text, class: "border-none focus:outline-none", placeholder: "Start typing..." %>
  </div>

  <div class="h-8"></div>
  <%= form.submit "Submit review", class: "cursor-pointer h-10 px-8 rounded bg-white text-gray-500 font-bold border border-gray-400 shadow", data: { transport: "remote", modal: "close" } %>
<% end %>