<!DOCTYPE html>
<html>
  <head>
    <title>GumroadChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <!-- Rails 7 throwing an error if I want to use .css.erb files, so declare the custom css here -->
    <style>
      .star {
        width: 30px;
        height: 30px;
        background-image: url(<%= asset_path 'star-empty.png' %>);
        background-position: 0 0;
        background-size: 30px 30px;
        background-repeat: no-repeat;
      }

      .star.active {
        background-image: url(<%= asset_path 'star-filled.png' %>);
      }
    </style>
  </head>

  <body>

    <div class="px-4">
      <div class="w-full max-w-2xl mx-auto">
        <div class="h-12"></div>
        <%= yield %>
        <div class="h-12"></div>
      </div>
    </div>

    <%= render "shared/modal" %>
  </body>
</html>
